@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background:#fff;
    margin: 0;
    padding: 0;
    position: relative;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.ana{
    width: 100%;
    height: auto;
}

.ust{
    width: 100%;
    background: #0aa351;
    height: 80px;
    padding: 5px 20px;
    margin-top: 50px;
}

.ust .sol{
    float: left;
    width: 40%;
}

.ust .sol p{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 16px 0px;
    margin: 0;
}

.ust .orta{
    float: left;
    width: 20%;
    display: block;
}

.ust .orta img{
    display: block;
    margin: 0 auto;
    margin-top: -55px;
}

.ust .sag{
    float: left;
    width: 40%;
}

.ust .sag p{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 16px 10px;
    margin: 0;
    float: right;
}

.ust .sag a{
    display: block;
    padding: 3px 10px;
    border: none;
    background: #fff;
    border-radius: 2px;
    font-size: 16px;
    color: #0aa351;
    float: right;
    margin-top: 19px;
    margin-left:20px;
}

.icerik{
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.icerik div{
    width: 95%;
    height: auto;
    border-radius: 4px;
    background: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: auto;
}

.icerik div p{
    color: #0aa351;
    display: table;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin:0px 0px 10px 0px;
}

.icerik div button{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    background: #0aa351;
    color: #fff;
    float: right;
    border: none;
    display: table;
    opacity: 0.7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: .5s;
}

.icerik div button:hover{
    opacity: 1;
}

table b{
    padding: 1px 4px;
    background: #0aa351;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin:2px;
    display:inline-block;
}

.icerik div form{
    width: 100%;
    font-size: 14px;
    background: #454d55;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

input[type=file]{
    width: 80%;
    float: left;
    color: #fff;
    font-size: 14px;
}

input[type=file]::file-selector-button {
    width:70%;
    padding: 10px;
    border-radius: 3px;
    background-image: linear-gradient(270deg,#9df3a8,#0aa351);
    border: 1px solid #fff;
    transition: 1s;
    color: #fff;
  }
  
  input[type=file]::file-selector-button:hover {
    background-image: linear-gradient(270deg,#0aa351,#9df3a8);
  }

  .icerik form button{
    font-size: 16px;
    font-weight: bold;
    padding: 9px;
    background-image: linear-gradient(270deg,#0aa351,#9df3a8);
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    width: 20%;
    float: left;
    display: table;
    opacity: 1;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: .7s ease;
    font-weight: 700;
}
  
.icerik form button:hover {
    background-image: linear-gradient(270deg,#9df3a8,#0aa351);
}

input[type=text]:focus,select:focus,input[type=password]:focus,select:active{
    outline: none;
    border: 1px solid #0aa351;
    box-shadow: none;
}

a{
	color:#fff !important;
}

.ust a i{
	color:#0aa351 !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 70%;
    padding:10%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background: #0aa351 !important;
    color:#fff !important;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
	display:block;
	position:relative;
    color: #9df3a8 !important;
    width:50px;
    float: right;
    right:0;
    text-align:right;
    font-size: 28px;
    font-weight: bold;
    opacity:0.4 !important;
    transition:.4s;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity:1 !important;
}

#formBtn{
    margin-top:20px;
    display:block;
}

table{
	font-size:13px;
    line-height: 16px;
}


@media screen and (max-width: 920px) {
	
    .ust .sol p, .ust .sag p{
        font-size: 16px;
        padding: 10px 10px;
    }
    
    .ust{
        height: 50px;
        padding: 5px 10px;
    }

    .ust .orta img{
        display: block;
        margin: 0 auto;
        margin-top: -55px;
        width: 150px;
    }

    .ust .sag a{
        margin-top: 5px;
        margin-left:10px;
    }

    .icerik{
        margin-top: 40px;
    }
    
    table{
		font-size:13px;
        line-height: 16px;
	}

    .icerik div{
        width: 95%;
    }

    .icerik div p{
        font-size: 20px;
    }

    table b{
        display: block;
        font-size: 10px;
        margin-top: 5px;
    }

    .icerik div button{
        padding: 10px 15px;
        font-size: 14px;
    }

    input[type=file]::file-selector-button {
        width:60%;
    }

    input[type=file]{
        font-size: 12px;
    }
    
    .modal-content {
    	margin: 10% auto;
    	font-size:14px;
    }
}

@media screen and (max-width: 620px) {
	
    .ust .sol p, .ust .sag p{
        font-size: 11px;
        padding: 7px 0px;
    }
    
    .ust{
        height: 40px;
        padding: 5px 10px;
        margin-top: 30px;
    }

    .ust .orta img{
        display: block;
        margin: 0 auto;
        margin-top: -35px;
        width: 100px;
    }

    .ust .sag a{
        margin-top: 2px;
        padding: 0px 5px;
    }

    table{
		font-size:11px;
	}
	
    .icerik div p{
        font-size: 17px;
    }

    .icerik div button{
        padding: 8px 15px;
        font-size: 13px;
    }

    input[type=file]::file-selector-button {
        width:50%;
    }
    
    .modal-content {
    	margin: 12% auto;
    	font-size:11px;
    }
}

@media screen and (max-width: 420px) {
	
    .ust .sol p, .ust .sag p{
        font-size: 9px;
        padding: 5px 0px;
    }
    
    table{
		font-size:10px;
	}

    .ust{
        height: 30px;
        padding: 5px 10px;
        margin-top: 24px;
    }

    .ust .orta img{
        display: block;
        margin: 0 auto;
        margin-top: -28px;
        width: 75px;
    }

    .ust .sag a{
        margin-top: -2px !important;
        padding: 0px 5px;
        font-size: 11px;
    }

    .icerik div button{
        padding: 8px 15px;
        font-size: 12px;
        margin-top: 3px;
    }

    input[type=file]::file-selector-button {
        width:40%;
    }
    
    .modal-content {
    	margin: 14% auto;
    	font-size:11px;
    }
   
}